@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: grid;
    place-content: center;
}

#renderCanvas {
    height: 100vh;
    width: 100vw;
    outline: none;
    touch-action: none;
}

#gameOver {
    position: absolute;
    z-index: 1000;
    display: none;
    place-content: center;
    width: 100vw;
    height: 100vh;
}


#gameOver div {
    width: 100vw;
    height: 70vh;
    background-color: rgba(177, 175, 175, 0.24);
    display: grid;
    place-content: center;
    backdrop-filter: blur( 10px );
    border: 1px solid rgba(250, 249, 249, 0.144);
    box-shadow: 0px 0px 100px 20px rgba(109, 106, 106, 0.349);
}

#gameOver div h1 {
    color: rgb(31, 31, 31);
    margin-bottom: 2.5rem;
}

#btnRestart, .play-btn {
    color: white;
    background-color: rgba(29, 28, 28, 0.952);
    padding: 1rem;
    backdrop-filter: blur(15px);
    border-radius: 0px;
    border: 1px solid rgba(10, 10, 10, 0.178);
    box-shadow: 3px 3px 20px 3px rgba(0, 0, 0, 0.473);
    border-radius: 10px;
    font-size: 1rem;
}

.mobileControls {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: auto;
  top: 70%;
}

.mobileControls #leftRight {
  display: flex;
}

.mobileControls #upDown {
  display: flex;
}

.mobileControls div {
  padding: 1.5rem;
}

.mobileControls div button {
  font-size: 2rem;
}

#stopBtn {
  background: red;
  color: white;
  border: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: .75rem;
}

.header .score {
  margin-top: 1.5rem;
}

.header .score h1 {
  color: white;
}

.logoImg {
  height: 4rem;
  width: auto;
}
/* 
#btnRestart {
  display: none;
} */


.full {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 200;
  display: grid;
  place-content: center;
  background-color: rgba(177, 175, 175, 0.24);
  backdrop-filter: blur( 10px );
  box-shadow: 0px 0px 100px 20px rgba(109, 106, 106, 0.349);
}

.full h1 {
  margin-bottom: 2.5rem;
}

.alert {
  color: rgb(2, 2, 2);
  margin-top: 1rem;
  margin-left: 1rem;
}